.wrapper_with_padding
  #docs.clearfix
    - unless @docs.blank?
      - @docs.each do |doc|
        %a{ href: (url_for [doc])}
          .doc
            %p.title= doc.title
            %p.date= time_ago_in_words(doc.created_at)
            %p.content= truncate(doc.content, lenght:50)

    - else
      %h2 Cadastrar cupom!
      %p Cadastrar e checar cupons. San Paolo @2019
      %button= link_to "Cadastrar Cupom", new_doc_path
