#banner
  .banner_content
    %h1 Cupom San Paolo
    %p Adicionar e validar cupons.
    %button= link_to "Enter", new_user_registration_path
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organizer
        %p Texto texto Texto




#bottom_cta
  .wrapper
    %h2 É um textoo!
    %br
    %button= link_to "Logar", new_user_registration_path
